.submit-buah {
  border-radius: 18px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  margin-top: 15px;
  margin-bottom: 10px;
}

#daftar-item {
  vertical-align: bottom;
  padding-right: 75px;
}

#border {
  border: 1px solid black;
  border-radius: 15px;
  width: 30%;
}
#borders{
  margin-top: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
}
#main-content {
  margin-left: 10px;
}

h1 {
  text-align:center;
}